
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="~/Product/Create" method="post">


    <label>ProductName</label>
    <input type="text" name="ProductName" class="form-control" /><br />

    <label>CategoryName</label>
    <input type="text" name="CategoryName" class="form-control" /><br />

    <input type="submit" value="save" class="btn btn-success" />
</form>

